{% extends "dashbase.html" %}
{%block content %}
{% include 'layout.html'%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
  <div class="row">
    <div class="col">
       <h1>  Order Summary - {{order.pk}} </h1>
 <form method="post" class=" mx-3 my-5">
    {% csrf_token %}
    {{ orderform.as_p }}
    <hr>

 <h2>Order Items</h2>
 {{ order_item_formset.management_form}}
 {% for form in order_item_formset %}
 {{ form.as_p }}
{% endfor %}
    <button type="submit" class="btn btn-outline-success">Save</button>
 </form>
 </div>
 </div>
 </div>
 </main>
 </div>
</div>

{% endblock %}
