{% extends 'dashbase.html' %}
{% load static %}
{% block content %}
<div class="mx-15 container my-md-5">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{ product.pk }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>
              <a class="btn btn-outline-dark me-2" href="{% url 'product_update' product.pk %}">Edit</a>
              <a class="btn btn-outline-danger" href="{% url 'product_delete' product.pk %}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <a href="{% url 'product_create' %}" class="btn btn-primary">Add New Product</a>
    </div>
  </div>
</div>

</br></br></br>

{% endblock %}