{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">LUGAAA Sabai Ko Lagi</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p class="mt-5 lead text-justify">Welcome to <strong>Lugaaa</strong>, your one-stop destination for all your fashion and lifestyle needs. Founded with <br> a vision to revolutionize the online shopping experience, Lugaaa brings you a curated selection of trendy and high-quality products at your fingertips.</p>
            <p class="lead text-justify">At Lugaaa, we believe in the power of style to express individuality and confidence. Our team scours the globe to handpick the latest fashion trends, ensuring that you stay ahead of the curve with every purchase. Whether you're looking for chic apparel, statement accessories, or unique home decor, we have something to suit every taste and occasion.</p>
            <p class="lead text-justify">What sets us apart is our commitment to exceptional customer service. We prioritize your satisfaction above all else, striving to make your shopping experience seamless and enjoyable. From browsing our user-friendly website to swift delivery and hassle-free returns, we're here to cater to your every need.</p>
            <p class="lead text-justify">But Lugaaa is more than just an online store - it's a community of fashion enthusiasts and trendsetters. We're passionate about fostering creativity and self-expression, inspiring you to embrace your unique style with confidence. Join us on social media to connect with like-minded individuals, discover styling tips, and be part of the conversation.</p>
            <p class="lead text-justify">Thank you for choosing Lugaaa as your go-to destination for all things fashion and lifestyle. We're excited to embark on this journey with you and help you look and feel your best, every day. Happy shopping!</p>
        </div>
    </div>
</div>
</br>
</br>
</br></br></br></br>
{% endblock %}