{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Category</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose your Category Below</p>
        </div>
    </div>
</header>

<div class="container">
    {% for category in categories %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="row"> <!-- Start a new row for every third card -->
    {% endif %}
    <div class="col-lg-4 col-md-6 mb-4"> <!-- Bootstrap column classes -->
        {% if category.parent %}
        
        <div class="card mt-5" style="width: 18rem;"> <!-- Added margin top -->
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ category }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'category' category %}" class="btn btn-primary">Explore</a>
            </div>
        </div>
        {% else %}
        <div class="card mt-5" style="width: 18rem;"> <!-- Added margin top -->
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ category }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'category' category %}" class="btn btn-primary">Explore</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% if forloop.last or forloop.counter0|add:1|divisibleby:3 %}
    </div> <!-- Close the row when it's the last card or after every third card -->
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
