{% extends 'base.html' %}
{% block content %}

<div class="container">
    </br>  
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>

                    {% if product.is_sale %}
                        <!-- Product price-->
                        <span class="text-muted text-decoration-line-through">Npr {{ product.price }}</span><br>
                        Npr {{ product.sale_price }}
                    {% else %}
                        Price: NPR {{ product.price }}
                    {% endif %}
                    </br>
                    <div class="row justify-content"> 
                        <div class="col-md-2">Quantity: </div>
                        <div class="col-md-2">   
                            <select class="form-select form-select-sm" id="qty-cart">   
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <p class="card-text"><small class="text-body-secondary">{{ product.date }}</small></p>

                <br><br>
                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                <button class="btn btn-secondary" value="{{ product.id }}" id="add-cart">Add To Cart</button>
            </div>
        </div>
    </div>

    <!-- Display related products -->
    <div class="related-products">
        <h2>Related Products</h2>
        <div class="row">
            {% for pro in related_product %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <img src="{{ pro.image.url }}" class="card-img-top" alt="{{ pro.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pro.name }}</h5>
                            <p class="card-text">Price: NPR {{ pro.price }}</p>
                            <a href="{% url 'product' pro.id %}" class="btn btn-primary">View Product</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No related products found.</p>
            {% endfor %}
        </div>
    </div>

</div>
</br></br></br></br></br>

<script>
// Add product to cart
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url "cart_add" %}',
        data: {
            product_id: $(this).val(),
            product_qty: $('#qty-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'POST',
        },
        success: function(json){
            console.log(json);
            document.getElementById("cart_quantity").textContent = json.qty;
            location.reload();
        },
        error: function(xhr, errmsg, err){
            console.log("Error: " + errmsg);
        }
    });
});
</script>

{% endblock %}
