{% extends 'base.html'%}
{%block content%}
<!-- Checkout Page Start -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
            <p class="lead fw-normal text-white-50 mb-0">Review your Order</p> <!-- Prompt for checkout information -->
        </div>
    </div>
    <style>
        /* Add custom styles here */
        @media (max-width: 767px) {
            .product-info {
                margin-top: 30px; 
            }
            .order-summary p {
                margin-bottom: 15px; 
            }
        }
    </style>
</header>

<!-- Checkout Page Body Start-->~
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="border p-3">
                <h4 class="mb-4">Shipping Information</h4>
                <form method = "POST" action="{%url 'billing_info'%}">
                    <!-- Form for shhipping information -->
                   {% csrf_token %}
                    {{shipping_form.as_p}}
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-primary">Place Order</button>
                    </div>
                </form>
            </div>
            <!-- Payment Method Section -->
            <div class="border mt-3 p-3">
                <h4>Payment Method</h4>
                <div class="form-check">
                    <label class="form-check-label" for="cod">
                        Cash on Delivery
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="mb-4">Order Summary</h4>
                <!-- Order Summary -->
                {% for product in cart_products %}
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="{{product.image.url}}" alt="Product Image" class="img-fluid" style="height: 100px; ">
                    </div>
                    <div class="col-md-8 product-info">
                        <h6>{{product.name}}</h6>
                        {%if product.is_sale %}
                        <small>Nrs: {{product.sale_price}}</small>
                        {% else %}
                        <small>Nrs: {{product.price}}</small>
                        {% endif %}</br>
                        <small>Quantity:<span class="float-right"> {% for key, value in quantities.items %}
                            {% if key == product.id|slugify %}
                            
                            <option selected>{{ value }}   </option>
                            {% endif %}
                            
                        {% endfor %} </span></small>
                        
                           
                         
                    </div>
                </div>
                {%endfor%}
                <!-- Order Summary Details -->
                <div class="order-summary">
                    <p>Items Total:  </p>
                    <p>Delivery Fee: <span class="float-right">free</span></p>
                    <strong><p>Total Cost: <span class="float-right">{{totals}}</span></p></strong>
                    <p>Incase if you want to update your item.</p>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update</a>
                </div>
            </div>
          
          
           
      
        </div>
    </div>
</div>
<!-- Checkout Page Body End -->

{% endblock %}
