{%extends 'base.html' %}
{%block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">My Order</h1>
          
        </div>
    </div>
</header>
<center>
    <div class="col-5 text-lg-start mb-3 my-5">
        <div class="card">
          <div class="card-header">
            Order Summary
          </div>
          <div class="card-body">
            {%if user_orders  %}
            {% for order in user_orders%}
            <h2>Order Id-  {{order.pk}}</h2>
            {% if order.status == 'Pending'%}
            {{order.status}}
            <a href = "{% url 'cancel_order' order.pk %}" class="btn btn-danger ">Cancel Order</a>
            {% else%}
            {{order.status}}
            {% endif %}
           
           
           
            
          
            
          
            {% for orderitem in order_item %}
                {% if orderitem.order == order %}
                    <li>{{ orderitem.product.name }} - Quantity: {{ orderitem.quantity }}</li>
                {% endif %}
            {% endfor %}
            Total Price: {{order.amount_paid}}
        </ul>
      
    {% endfor %}
    {%else%}
    <p>Looks like you havent placed any orders yet!</p>
    {%endif%}


  </div>         
</br></br>
</div>
</div>
<center>
{% endblock %}


